<!-- con la directiva [ngClass] -->
<hr>
<div>
    <h2>{{ titleNgClass }}</h2>
    <div *ngFor="let nombre of nombres; let i=index">
        <div [ngSwitch]="nombre.color">
            <!-- Ojo en el case se coloca el valor dentro de '' para que se entere que la comparación es contra un String -->
            <div *ngSwitchCase="'blue'" [ngClass]="{'classBlue':nombre.color=='blue'}">
                <span *ngIf="nombre.hidden">nombre: {{ nombre.nom }}</span>
            </div>
            <div *ngSwitchCase="'red'" [ngClass]="{'classRed':nombre.color=='red'}">
                <span [ngStyle]="{'color': color}" *ngIf="nombre.hidden">nombre: {{ nombre.nom }}</span>
            </div>
            <div *ngSwitchCase="'yellow'" [ngClass]="{'classYellow':nombre.color=='yellow'}">
                <!-- Esta directiva esconde la etiqueta <HTML> pero no la elimina del arbol DOM -->
                <span *ngIf="nombre.hidden">nombre: {{ nombre.nom }}</span>
            </div>
            <div *ngSwitchCase="'pink'" [ngClass]="{'classPink':nombre.color=='pink'}">
                <!-- Esta directiva esconde la etiqueta <HTML> pero no la elimina del arbol DOM -->
                <span *ngIf="nombre.hidden">nombre: {{ nombre.nom }}</span>
            </div>
        </div>
    </div>
</div>