.classBlue {
    background-color: aqua;
    color: blue;
}

.classRed {
    background-color: red;
    color: white;
}

.classYellow {
    background-color: yellow;
    color: green;
}

.classPink {
    background-color: pink;
    color: black;
}