<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<h1>
    {{title}}
</h1>
<div class="container"><br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success" *ngFor="let nombre of nombres; let i=index">
            <p>{{i + 1}} - </p>
            <p>Nombre: <b>{{ nombre.nom }}</b></p>
            <p>, edad: <b>{{ nombre.edad}}</b></p>
        </li>
    </ul>
</div>
<div class="container">{{ title2 }}<br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success" *ngFor="let curso of cursos; let i=index">
            <p>{{i + 1}} - </p>
            <p>Nombre del curso: <b>{{ curso.nombreCurso }}</b></p>
            <p>, Códdigo: <b>{{ curso.codigo}}</b></p>
        </li>
    </ul>
</div>
<div class="container"><br>
    <h3>{{ texto }}</h3>
</div>
<hr>
<!-- los elementos ngSwitch del ejemplo  -->
<div>
    <h2>{{ title3 }}</h2>
    <div *ngFor="let nombre of nombres; let i=index">
        <div [ngSwitch]="nombre.color">
            <!-- Ojo en el case se coloca el valor dentro de '' para que se entere que la comparación es contra un String -->
            <div *ngSwitchCase="'blue'" style="background-color: blue;margin-bottom: 5px;">
                <span>nombre: {{ nombre.nom }}</span>
            </div>
            <div *ngSwitchCase="'red'" style="background-color: red;margin-bottom: 5px;">
                <span>nombre: {{ nombre.nom }}</span>
            </div>
            <div *ngSwitchCase="'yellow'" style="background-color: yellow;margin-bottom: 5px;">
                <span>nombre: {{ nombre.nom }}</span>
            </div>
        </div>
    </div>
</div>